# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.gitignore
# Virtual environment
venv/

# Environment variables file
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# IDE/editor settings
.vscode/
.idea/
*.swp

# macOS files
.DS_Store
